.footer_partie_haute
{
    background-color: #EEEEEE;
    
}
.footer_partie_basse
{
    background-color: #007DB8;
    
}
.txt_sur_fond_bleu
{
    color: white;
   
}
.txt_sur_fond_gris
{
    color: grey;
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
